/* ====== GLOBAL STYLES ====== */
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
  }
  
  /* ====== HEADER AREA ====== */
  .main-header {
    width: 1046px;;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 122px;
    height: 64px;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    width: 252px;
    height: 64px;
    margin-right:135px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .logo-img {
    width: 64px;
    height: 64px;
  }
  
  .logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #3E3F43;
    margin-left:0;
    letter-spacing: 6px;
  }
  
  .nav-menu {
    display: flex;
    gap: 62px;
  }
  
  .nav-link {
    font-size: 30px;
    font-weight: 400;
    color: #612999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav-link.active {
    font-weight: 700;
  }
  .nav-link:hover {
    color: #b38cd9;
  }

  
  
  
  
  









